
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
          <a routerLink="createuser" class="nav-link" routerLinkActive="active">Create User</a>
      </li>
      <li class="nav-item">
          <a routerLink="userlist" class="nav-link" routerLinkActive="active">User List</a>
      </li>
    </ul>
  </nav>
  <div class="container">
    <br>
    <h2 >User Application</h2>
     
    
    <router-outlet></router-outlet>
      
    
    
  </div>
  