
 <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
          <a routerLink="createcategory" class="nav-link" routerLinkActive="active">Create Category</a>
      </li>
      <li class="nav-item">
          <a routerLink="selectprofile" class="nav-link" routerLinkActive="active">Show Profile</a>
      </li>
    </ul>
  </nav> 
  <div class="container">
    <br>
    <h2 >Interview Preparation</h2>
     
    
    <router-outlet></router-outlet>
      
    
    
  </div>
  